<html>

<head>
  <meta charset="utf-8">
  <title>Get Start</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.1.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>

</head>

<body>
  <br>
  <br>
  <div class="container">
 
      <h1>  <p>Edit Posts</p> </h1>

     
      
      
      <br>
      <form method="post" action="/photo/editphoto/<%=image[0].id%>" novalidate enctype="multipart/form-data">
      <div class="form-field">
        <label for="message"> <h2><p>Images </p></h2></label>
       <!--<input type="text" id="content" name="content" value="<%=image[0].image %>" /> 
       <textarea class="form-control" rows="5" name="image" id="image"> <%=image[0].image %></textarea>-->
       <input type="file" id="image" name="image" value="<%=image[0].image %>" onchange="change_pic()"/>
       <!--<img src="/images/<%=image[0].image %>" class="img-rounded" width="400" height="400" alt="">-->
       <img src="/images/<%=image[0].image %>" id ="imgg" class="img-rounded" width="400" height="400" alt="">
                        
         </div>
      <br>
      <div class="form-actions">
        <button class="btn" type="submit">Edit</button>
      </div>
    </form> 
</div>
<script>
function change_pic()
    {
        var input = document.getElementById('image');
        if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#imgg').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
   
    };
</script>
    </body>
  
</html>